$txt-black:#333;
$border-gray:#DCDCDC;
$bl-blue:#00A1D6;
$bl_blue_light:#00b5e5;
$bl-pink:#f25d8e;
a{color:$txt-black}
// -- icon -- 
.bl-icon{
    background:url(../images/base/icons.png) no-repeat;
    &.tg-zhuanlan{
        background-position: -534px -919px
    }
    &.tg-audio{
        background-position: -534px -983px;
    }
    &.tg-video{
        background-position: -471px -919px;
    }
    &.tg-manage{
        background-position: -471px -982px;
    }
    &.tg-center{
        background-position: -471px -1751px;
    }
    &.fun-person{
        background-position: -472px -407px;
    }
    &.fun-tg{
        background-position: -536px -1046px
    }
    &.fun-coin{
        background-position: -472px -472px;
    }
    &.fun-live{
        background-position: -473px -855px;
    }
    &.msg-coin{
        background-position: -343px -471px;
    }
    &.msg-coinb{
        background-position: -407px -471px;
    }
    &.msg-mail{
        background-position: -279px -534px;
    }
    &.msg-phone{
        background-position: -343px -599px;
    }
}

// --- header部分 ---
.nav{
    background:white;
    // padding: 0 20px 0 50px;
    width: 100%;
    border-bottom:solid 1px $border-gray;
}
.nav-content{
    width:992px;
	margin:0 auto;
	display: flex;
    justify-content: space-between;
    
    &>ul{height:41px;}
    li{
        float:left;
        padding:0 9px;
        &.nav-index{
            margin-left:-9px;
            i.bili-icon{
                display: inline-block;
                vertical-align: middle;
                background:url(../images/icon.png);
                width: 17px;
                height: 14px;
                background-position: -919px -88px;
            }
        }
        a{
            display: inline-block;
            height:41px;
            line-height: 41px;
        }
        
    }
    //
    ul:nth-child(2),ul:last-child{
        li{
            position: relative;
            &.p-img{
                border-radius: 50%;
                padding:0;
                margin:0 9px;
                &>a{
                    img{
                        border-radius: 50%;
                        width:38px;
                        height:38px;
                        vertical-align: middle;
                    }
                }
                div.p_login{
                    width: 320px;
                    left:50%;
                    margin-left:-160px;
                    padding:12px;
                    background:#fff;
                    border: 1px solid #e5e9ef;
                    div.log-slider-img{
                        position: relative;
                        overflow: hidden;
                        width:100%;
                        height:200px;
                        border:solid 1px $bl-blue;
                        margin:12px 0;
                        background:url(../images/base/danmu.png) no-repeat;
                        &>img{
                            position: absolute;
                            left:0;
                            top:0;
                        }
                        &>img:last-child{left: 320px;}
                    }
                    &>a{
                        color:white;
                        width: 100%;
                        height: 43px;
                        line-height: 43px;
                        border-radius: 4px;
                        background:$bl-blue;
                        text-align: center;
                        font-size: 14px;
                        &:hover{background:$bl_blue_light}
                    }
                    &>p:last-child{
                        text-align: center;
                        a{
                            height:0;color:$bl-blue;
                            &:hover{color:$bl_blue_light}
                        }
                    }
                }
            }
            &:nth-child(2){
                &>div.history{
                    position: absolute;
                    width: 400px;
                    left: auto;
                    right: -58px;
                    text-align: center;
                    padding:12px;
                    background: #fff;
                    z-index: 20;
                    visibility: hidden;
                    opacity: 0;
                    top:65px;
                    &>div:first-child{
                        margin:10px auto;
                        &>p,&>a{
                            margin:10px 0;
                        }
                        &>a{
                            display: inline;
                            color:#fff;
                            background:$bl-blue;
                            padding: 5px 11px;
                            border-radius: 4px;
                            &:hover{background:$bl_blue_light}
                        }
                    }
                    &>ul.history-list{
                        li{
                            text-align: center;
                            width:100%;
                            height:28px;
                            line-height: 28px;
                        }
                    }
                    &>a{
                        width: 100%;
                        height:28px;
                        line-height: 28px;
                        background-color: #e5e9ef;
                        border: 1px solid #e0e6ed;
                        border-radius: 4px;
                    }
                }
            }
            &.tg{
                height:47px;
                margin-left:9px;
                padding:0 15px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                background:$bl-pink;
                color:white;
                // &>a{
                //     height:0;
                // }
                &>ul.tg-list{
                    width: 360px;
                    height: 64px;
                    right: 0;
                    // top: 42px;
                    background:#fff;
                    li{
                        position: relative;
                        cursor: pointer;
                        text-align: center;
                        width: 72px;
                        height: 100%;
                        float: left;
                        position: relative;
                        transition: .2s;
                        span{color:$bl-pink}
                        i{
                            position: relative;
                            display: block;
                            transition:top .2s ease;
                            width: 20px;
                            height: 20px;
                            margin: 15px auto 2px;
                        }
                        &:hover i{top:-2px;}
                        &:hover{background: #e5e9ef}
                    }
                }
            }
            &.p-img div.p_login,&:nth-child(2)>div.history,&.tg ul.tg-list{
                position: absolute;
                z-index: 20;
                opacity: 0;
                visibility: hidden;
                top:55px;
                transition: visibility 0.4s ease,top 0.3s ease,opacity 0.3s linear;
            }
            &.p-img:hover div.p_login,&:nth-child(2):hover div.history,&.tg:hover ul.tg-list{
                visibility: visible;
                opacity: 1;
                top:41px;
            }
        }
    }
    &>ul.isLogin{
        display: none;
        li.p-img{
            position: relative;
            width: 41px;
            height: 41px;
            &>a{
                transition: all 0.4s ease;
                &>img{transition: all 0.4s ease;}
            }
            &.on{
                &>a{
                    position: absolute;
                    z-index: 35;
                    top:15px;
                    left:0;
                    margin-left:-11px;
                    &>img{
                         width:64px;
                         height:64px;
                         border:solid 2px #fff;
                    }
                }
            }
            div.p_login{
                position: absolute;
                left: 50%;
                margin-left: -130px;
                // top: 42px;
                width: 260px;
                background: #fff;
                padding: 50px 0 0;
                border-radius: 0 0 4px 4px;
                div.msg{
                    text-align: center;
                    &>p.bl_user{font-weight: bold}
                    &>div.msg-list{
                        overflow: hidden;
                        padding:20px;
                        &>div{cursor: pointer;}
                        i.bl-icon{
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            vertical-align: top;
                            margin-top: -2px;
                        }
                        div.msg-item{
                            float: left;
                            margin-right: 20px;
                        }
                        div.msg-item-right{
                            float: right;
                            margin-left:10px;
                        }
                    }
                }
                div.fun{
                    border-top: 1px solid #e5e9ef;
                    padding: 10px 0px 0px 20px;
                    &>ul{
                        display: block;
                        overflow: hidden;
                        li{
                            float: left;
                            width: 100px;
                            margin-right: 20px; 
                            padding:5px 0;
                            i.bl-icon{
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                margin-right: 10px;
                                vertical-align: top;
                            }
                            &>span{
                                cursor: pointer;
                                &:hover{color:$bl-blue}
                            }
                        }
                        &>li:nth-child(2n){margin-right:0;}
                    }
                }
                div.signout{
                    overflow: hidden;
                    a{
                        float: right;
                        margin-right:20px;
                    }
                }
            }
        }
    }
    
}
