$bl_blue:#00a1d6;
$text_gray:#99a2aa;
$border_blue:#32b0da;
$bg_lightblue:rgba(50,176,218,.3);
// div,ul,li{border:solid 1px red}
ul{list-style: none}
.clearfix{overflow: hidden;}
#app{
    margin:0 auto;
    width:1040px;
}
//icon
.iconfont{
    font-family: iconfont!important;
    font-size: 12px;
    cursor: pointer;
}
i{
    &.play-icon {
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 24px;
        height: 26px;
        line-height: 26px;
        color:#fff;
        padding-left: 2px;
        border: 1px solid hsla(0,0%,100%,.6);
        border-radius: 14px;
    }
    &.listen-icon{}
}

// 轮播
.slider{
    position: relative;
    ul.slider-con{
        overflow: hidden;
        position: relative;
        width:100%;
        li.slider-item{
            position: absolute;
            left:0;
            top:0;
            width:100%;
            visibility: hidden;
            transition: visibility 1s linear;
            &.active{
                visibility: visible;
            }
            &>a{
                display: inline-block;
                position: relative;
                img{width:100%;}
                &>div{
                    position: absolute;
                    text-indent: 20px;
                    bottom: 3px;
                    width:100%;
                    height:28px;
                    line-height: 23px;
                    background:linear-gradient(-180deg,transparent,rgba(0,0,0,.4));
                    color:white;
                }
            }
        }
    }
    ul.slider-dot{
        position: absolute;
        bottom:0;
        right:12px;
        overflow: hidden;
        li.dot-item{
            float: left;
            margin: 5px;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            button.btn-dot{
                padding: 0;
                border: 0;
                outline: 0;
                width: 10px;
                height: 10px;
                background: #fff;
                border-radius: 50%;
                cursor: pointer;
            }
            &.active{
                background:url(../images/slider_icon.png) no-repeat 50%;
                background-size: 100%;
                button.btn-dot{
                    background:transparent;
                }
            }
        }
    }
}
// 分页
.pagination{
    a{
        display: inline-block;
        height:16px;
        width:16px;
        // border:solid 1px red;
        text-align: center;
        line-height:16px;
        margin:0 2px;
        color:#222;
        font-size: 12px;
        &.pagination-item{
            &.active,&:hover{
                color:$bl_blue;
            }
        }
        &.prev,&.next{
            color:#fff;
            background:#ccd0d7;
            border-radius: 50%;
            &:hover{
                background:$bl_blue;
            }
        }
    }
}
.m-model{
    margin:30px 0 40px 0;
    &>div.mod-title{
        &,&>span{font-size: 24px;}
        margin-bottom:20px;
    }
}
// 歌单样式
.music-list{
    float: left;
    width: 200px;
    margin: 0 10px 20px 0;
    // 歌单推荐上面的图片
    div.list-img{
        margin:0 auto;
        position: relative;
        width:166px;
        height: 166px;
        background:$bg_lightblue;
        border: 1px solid $border_blue;
        border-radius: 4px;
        cursor: pointer;
        img{
            display: block;
            border-radius: 4px;
        }
        img,div{
            position: absolute;
            width:168px;
            height: 168px;
            top:12px;
            left:-12px;
        }
        div{
            display: none;
            background:rgba(0,0,0,.25); 
        }
        &:hover div{display: block;}
    }
    div.list-con{
        margin: 16px 42px 0 6px;
        p{
            font-size: 12px;
            line-height: 1.5;
        }
        p:first-child{
            height:40px;
            a{
                color:#222;
                &:hover{color:$bl_blue}
            }
        }
        p:last-child{
            position: relative;
            i,span{color:#99a2aa}
        }
    }
    &:hover div.list-con p>a{color:$bl_blue}
}
// 歌单推荐
.m-recommend{
    ul{
        overflow: hidden;
        li.music-list:nth-child(5n){
            margin-right:0;
        }
    }
}
// 热门榜单
.m-rank{
    .rank-content{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        .rank-list{
            width:320px;
            // margin-right:40px;
            .rlist-title{
                display:flex;
                width:100%;;
                &>img{
                    display: inline-block;
                    width: 140px;
                    height: 140px;
                    border-radius:4px;
                    margin: 20px 16px 20px 20px;
                }
                &>div{
                    position: relative;
                    padding:40px 0 20px 0;
                    a{
                        color:#333;
                        font-weight: bold;
                    }
                    .play{
                        position: absolute;
                        bottom:20px;
                        background: $bl_blue;
                        width: 120px;
                        height: 40px;
                        border-radius: 4px;
                        text-align: center;
                        i{}
                        span{
                            color:white;
                            line-height: 40px;
                            font-size: 16px;
                        }
                    }
                }
            }
            &>ul{
                border-right:solid 1px #e5e9ef;
                border-left:solid 1px #e5e9ef;
                padding: 0 16px 9px 16px;
                li.rlist-item{
                    display: flex;
                    height:54px;
                    line-height: 54px;
                    cursor: pointer;
                    &:hover{
                        a.title{color:$bl_blue}
                    }
                    span{
                        color: $text_gray;
                        text-align: center;
                    }
                    &>span{
                        margin-right: 12px;
                        width: 20px;
                    }
                    div.item-title{
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        a,i{float: left;}
                        a{
                            display: inline-block;
                            width:192px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-size: 14px;
                            cursor: pointer;
                            color:#333;
                        }
                        i{
                            display: none;
                            width: 18px;
                            height: 18px;
                            border: 1px solid #e5e9ef;
                            border-radius: 10px;
                            color: #99a2aa;
                            margin-top: 17px;
                            vertical-align: top;
                        }
                        span{
                            position: absolute;
                            right: 0;
                        }
                        &:hover{
                            i{
                                display: inline-block;
                                &:hover{
                                    border:solid 1px $bl_blue;
                                }
                            }    
                        }
                    }
                }
            }
            div.item-more{
                a{
                    display: inline-block;
                    text-align: center;
                    width:100%;
                    height:52px;
                    line-height:52px;
                    border:solid 1px #e5e9ef;
                    span,i{
                        color: $text_gray;}
                        &:hover{
                            span,i{color: $bl_blue;}
                        }
                }
                
            }
        }
    }
    
    
}
//全部榜单
.m-allrank{
    .mod-title{
        overflow: hidden;
        div.pagination{
            float: right;
            margin-top:5px;
        }
    }
    .ar-content>ul{
        overflow: hidden;
        li.arank-list{
            position: relative;
            float: left;
            margin: 0 20px 0 10px;
            cursor: pointer;
            &>img,&>div.cover{
                width:180px;
                height:180px;
            }
            &>img{
                display: inline-block;
                border-radius: 4px;
            }
            &>a{
                display: block;
                color:#222;
            }
            &>div.cover{
                position: absolute;
                top:0;
                left: 0;
                display: none;
                background:rgba(0,0,0,.25); 
            }
            &:hover{
                div.cover{display:block}
                a{color:$bl_blue}
            }
            &:nth-child(5n){
                margin-right:0;
            }
        }
    }
}
// 我的音乐
.m-mymusic{
    .mod-title{
        overflow: hidden;
        &>span{float: left;}
        ul.tab{
            float: left;
            overflow: hidden;
            li.tab-list{
                float: left;
                position: relative;
                margin-left:20px;
                padding:3px 0;
                cursor: pointer;
                &:hover{
                    color:$bl_blue;
                }
                &.active{
                    color:$bl_blue;
                    border-bottom:solid 1px $bl_blue;
                    &>em{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        border-bottom: 3px solid $bl_blue;
                    }
                }
            }
        }
    }
    .per-content{
        div.per-collect{
            display: none;
            &>div.empty{
                text-align: center;
                padding:26px 0 40px;
                &>div:first-child{
                    img{margin:0 auto;}
                }
                &>p{
                    margin:16px 0;
                }
            }
        }
    }
}
// 音乐人推荐
.m-musician{
    .mod-title{
        overflow: hidden;
        &>span{
            float: left;
        }
        &>div{
            float:right;
            line-height: 24px;
            margin-top:8px;
            width: 74px;
            border: 1px solid #ccd0d7;
            border-radius: 4px;
        }
    }
    .musician-con{
        ul{
            display: flex;
            justify-content: space-around;
            li.card-list{
                width: 320px;
                // height: 162px;
                border: 1px solid #e5e9ef;
                border-radius: 4px;
                overflow: hidden;
                &>a,&>div{float: left;}
                a>img{
                    display: inline;
                    width: 96px;
                    height: 96px;
                    margin:34px 27px 34px 34px;
                    border-radius: 50%;
                }
                &>div{
                    margin:34px 0;
                    &>span,&>p{line-height: 30px;}
                    &>span{
                        color:$text_gray;
                    }
                    &>div.btn-listen{
                        margin-top:9px;
                        width: 98px;
                        height: 28px;
                        border:1px solid $bl_blue;
                        border-radius: 4px;
                        color:$bl_blue;
                        text-align: center;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
// 音乐播放器
.music-play{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #384245;
    color: #737A7C;
    font-size: 14px;
    z-index: 100;
    cursor: default;
    // div{border:solid 1px red;}
    .mp-margin{
        position: relative;
        margin:0 auto;
        width:1110px;
        height:100%;
        div.mp-con{
            position: relative;
            width:100%;
            height:100%;
            display:flex;
            z-index: 100;
            background-color: #384245;
            div.mplay{
                height:100%;
                img,div{
                    display: inline-flex;
                    height:100%;
                    justify-content: center;
                    align-items: center;
                    vertical-align: middle;
                    cursor: pointer;
                }
                div.mp-prev, div.mp-start,div.mp-next{
                    padding:0 8px ;
                }
                div.mp-prev{margin-left: 16px;}
                div.mp-next{margin-right: 16px;}
                div.mp-prev svg,div.mp-next svg{
                    width: 28px;
                    height: 28px;
                    transition: 0.2s;
                    fill: #fff;
                }
                div.mp-prev,div.mp-next{
                    &:hover svg{
                        fill:$border_blue;
                    }
                }
                div.mp-start{
                    svg{
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background: rgba(50, 176, 218, 0.3);
                        fill:#32b0da;
                        transition:0.2s;
                    }
                    &:hover svg{
                        background:#35798f;
                    }
                }
            }
            div.progress{
                flex:1;
                display: flex;
                flex-direction: column;
                padding:10px 0;
                height:60px;
                .info{
                    display: flex;
                    .mp-title,.mp-time{
                        color:#ffffff;
                        span:first-child{color:#fff}
                        span{color:#737A7C;margin-left: 6px;}
                    }
                    .mp-time{flex:1;text-align: right;span{margin-left: 0px;}}
                }
                .mp-progress{
                    width:100%;
                    padding:10px 0 ;
                    position: relative; 
                    .track{
                        position: relative;
                        background:#909090;
                        width:100%;
                        &,&>.track-top{
                            height: 3px;
                            border-radius: 1.5px;
                        }
                        .track-top{
                            background: rgba(50, 176, 218, 0.47);
                            width:0;
                        }
                        .slider-box{
                            position: absolute;
                            top:-5px;
                            left:-4px;
                            cursor: pointer;
                            svg{
                                height:19px;
                                width:21px;
                            }
                        }
                    }
                    
                }
            }
            div.tool{
                height:100%;
                div{
                    height:100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;
                    cursor: pointer;
                    padding:0 8px;
                    &:hover svg{
                        fill:$border_blue;
                    }
                }
                div.collect{margin-left:16px;}
                div.collect,div.volume,div.order,div.s-list-bg{
                    &:hover svg{
                        fill:$border_blue;
                    }
                    &:hover span{color:$border_blue;}
                }
                div.collect>svg,div.volume>svg,div.order>svg,div.s-list-bg>svg{
                    height:28px;
                    width:28px;
                    vertical-align: middle;
                    transition:0.2s;
                    fill:#fff;
                }
                div.line>div{
                    height: 24px;
                    width: 1px;
                    padding:0;
                    background: #979797;
                }
                div.volume-track{
                    position: relative;
                    margin-right: 8px;
                    background: #909090;
                    justify-content: left;
                    width: 86px;
                    &,&>div{padding:0;}
                    &,&>div.track-top{
                        height:3px;
                        border-radius: 1.5px;
                    }
                    &>div.track-top{
                        background: #32B0DA;
                        width:0;
                    }
                    div.volume-track-dot{
                        position: absolute;
                        top: -4px;
                        left: -6px;
                        cursor: pointer;
                        background:#32B0DA;
                        height:12px;
                        width:12px;
                        border-radius: 50%;
                        // transform: scale(0);
                        // opacity: 0;
                        transition: .1s linear;
                        &:hover{
                            // transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
                div.s-list-bg{
                    background: #4A5355;
                    height: 28px;
                    border-radius: 14px;
                    padding: 0 8px 0 6px;
                    &>span{
                        transition:0.2s;
                        color:#fff;
                    }
                }
            }
        }
        div.mp-list{
            position: absolute;
            width: 620px;
            right: 0;
            bottom: 60px;
            background-color: #384245;
            border-radius: 6px 6px 0 0;
            transform: translateY(100%);
            transition: 0.3s;
            z-index:0;
            &.hide{
                transform: none;
            }
            span,div{
                color: rgba(255, 255, 255, 0.4);
                font-size: 14px;
                font-weight: lighter;
            }
            svg.icon-trash{
                width: 12px;
                height: 12px;
                transition: 0.2s;
                fill: rgba(255, 255, 255, 0.4);
                vertical-align: middle;
            }
            &>div.title{
                // div{border:solid 1px red;}
                padding: 16px 0 16px 20px;
                display:flex;
                align-items: center;
                &>div:first-child{
                    span:first-child{color:#fff}
                    flex:1;
                }
                &>div.close{padding:0 16px;font-size: 18px;}
            }
            &>div.title+div{
                background-color: #455155;
                height: 260px;
                overflow: auto;
                // - 滚动条样式 - 
                // &:hover{overflow: auto;}
                &::-webkit-scrollbar{
                    width:6px;
                }
                &::-webkit-scrollbar-thumb{
                    background:#aaa;
                    border-radius: 6px;
                }
                // 播放列表
                &>ul{
                    // width: 610px;
                    li.play-item{
                        display: flex;
                        padding: 10px 0 10px 20px;
                        transition: 0.2s;
                        cursor: pointer;
                        line-height: 21px;
                        // height:60px;
                        div.title{
                            flex:1;
                            &>span{
                                border-bottom: 1px solid transparent;
                                transition: border-bottom 0.2s;
                                &:hover{border-bottom-color:#32B0DA;}
                            }
                        }
                        div.title+div{
                            width: 75px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        div.trash{
                            opacity: 0;
                            width: 50px;
                            text-align: center;
                            &:hover svg{ fill:#32B0DA; }
                        }
                        &.active{
                            background: #425961;
                            div,span{color: #32B0DA;}
                        }
                        &:hover{
                            background: #425961;
                            div,span{color: #32B0DA;}
                            div.trash{opacity: 1;}
                        }
                    }
                }
            }
        }
    }
}