a {
  color: #333; }

.bl-icon {
  background: url(../images/base/icons.png) no-repeat; }
  .bl-icon.tg-zhuanlan {
    background-position: -534px -919px; }
  .bl-icon.tg-audio {
    background-position: -534px -983px; }
  .bl-icon.tg-video {
    background-position: -471px -919px; }
  .bl-icon.tg-manage {
    background-position: -471px -982px; }
  .bl-icon.tg-center {
    background-position: -471px -1751px; }
  .bl-icon.fun-person {
    background-position: -472px -407px; }
  .bl-icon.fun-tg {
    background-position: -536px -1046px; }
  .bl-icon.fun-coin {
    background-position: -472px -472px; }
  .bl-icon.fun-live {
    background-position: -473px -855px; }
  .bl-icon.msg-coin {
    background-position: -343px -471px; }
  .bl-icon.msg-coinb {
    background-position: -407px -471px; }
  .bl-icon.msg-mail {
    background-position: -279px -534px; }
  .bl-icon.msg-phone {
    background-position: -343px -599px; }

.nav {
  background: white;
  width: 100%;
  border-bottom: solid 1px #DCDCDC; }

.nav-content {
  width: 992px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .nav-content > ul {
    height: 41px; }
  .nav-content li {
    float: left;
    padding: 0 9px; }
    .nav-content li.nav-index {
      margin-left: -9px; }
      .nav-content li.nav-index i.bili-icon {
        display: inline-block;
        vertical-align: middle;
        background: url(../images/icon.png);
        width: 17px;
        height: 14px;
        background-position: -919px -88px; }
    .nav-content li a {
      display: inline-block;
      height: 41px;
      line-height: 41px; }
  .nav-content ul:nth-child(2) li, .nav-content ul:last-child li {
    position: relative; }
    .nav-content ul:nth-child(2) li.p-img, .nav-content ul:last-child li.p-img {
      border-radius: 50%;
      padding: 0;
      margin: 0 9px; }
      .nav-content ul:nth-child(2) li.p-img > a img, .nav-content ul:last-child li.p-img > a img {
        border-radius: 50%;
        width: 38px;
        height: 38px;
        vertical-align: middle; }
      .nav-content ul:nth-child(2) li.p-img div.p_login, .nav-content ul:last-child li.p-img div.p_login {
        width: 320px;
        left: 50%;
        margin-left: -160px;
        padding: 12px;
        background: #fff;
        border: 1px solid #e5e9ef; }
        .nav-content ul:nth-child(2) li.p-img div.p_login div.log-slider-img, .nav-content ul:last-child li.p-img div.p_login div.log-slider-img {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 200px;
          border: solid 1px #00A1D6;
          margin: 12px 0;
          background: url(../images/base/danmu.png) no-repeat; }
          .nav-content ul:nth-child(2) li.p-img div.p_login div.log-slider-img > img, .nav-content ul:last-child li.p-img div.p_login div.log-slider-img > img {
            position: absolute;
            left: 0;
            top: 0; }
          .nav-content ul:nth-child(2) li.p-img div.p_login div.log-slider-img > img:last-child, .nav-content ul:last-child li.p-img div.p_login div.log-slider-img > img:last-child {
            left: 320px; }
        .nav-content ul:nth-child(2) li.p-img div.p_login > a, .nav-content ul:last-child li.p-img div.p_login > a {
          color: white;
          width: 100%;
          height: 43px;
          line-height: 43px;
          border-radius: 4px;
          background: #00A1D6;
          text-align: center;
          font-size: 14px; }
          .nav-content ul:nth-child(2) li.p-img div.p_login > a:hover, .nav-content ul:last-child li.p-img div.p_login > a:hover {
            background: #00b5e5; }
        .nav-content ul:nth-child(2) li.p-img div.p_login > p:last-child, .nav-content ul:last-child li.p-img div.p_login > p:last-child {
          text-align: center; }
          .nav-content ul:nth-child(2) li.p-img div.p_login > p:last-child a, .nav-content ul:last-child li.p-img div.p_login > p:last-child a {
            height: 0;
            color: #00A1D6; }
            .nav-content ul:nth-child(2) li.p-img div.p_login > p:last-child a:hover, .nav-content ul:last-child li.p-img div.p_login > p:last-child a:hover {
              color: #00b5e5; }
    .nav-content ul:nth-child(2) li:nth-child(2) > div.history, .nav-content ul:last-child li:nth-child(2) > div.history {
      position: absolute;
      width: 400px;
      left: auto;
      right: -58px;
      text-align: center;
      padding: 12px;
      background: #fff;
      z-index: 20;
      visibility: hidden;
      opacity: 0;
      top: 65px; }
      .nav-content ul:nth-child(2) li:nth-child(2) > div.history > div:first-child, .nav-content ul:last-child li:nth-child(2) > div.history > div:first-child {
        margin: 10px auto; }
        .nav-content ul:nth-child(2) li:nth-child(2) > div.history > div:first-child > p, .nav-content ul:nth-child(2) li:nth-child(2) > div.history > div:first-child > a, .nav-content ul:last-child li:nth-child(2) > div.history > div:first-child > p, .nav-content ul:last-child li:nth-child(2) > div.history > div:first-child > a {
          margin: 10px 0; }
        .nav-content ul:nth-child(2) li:nth-child(2) > div.history > div:first-child > a, .nav-content ul:last-child li:nth-child(2) > div.history > div:first-child > a {
          display: inline;
          color: #fff;
          background: #00A1D6;
          padding: 5px 11px;
          border-radius: 4px; }
          .nav-content ul:nth-child(2) li:nth-child(2) > div.history > div:first-child > a:hover, .nav-content ul:last-child li:nth-child(2) > div.history > div:first-child > a:hover {
            background: #00b5e5; }
      .nav-content ul:nth-child(2) li:nth-child(2) > div.history > ul.history-list li, .nav-content ul:last-child li:nth-child(2) > div.history > ul.history-list li {
        text-align: center;
        width: 100%;
        height: 28px;
        line-height: 28px; }
      .nav-content ul:nth-child(2) li:nth-child(2) > div.history > a, .nav-content ul:last-child li:nth-child(2) > div.history > a {
        width: 100%;
        height: 28px;
        line-height: 28px;
        background-color: #e5e9ef;
        border: 1px solid #e0e6ed;
        border-radius: 4px; }
    .nav-content ul:nth-child(2) li.tg, .nav-content ul:last-child li.tg {
      height: 47px;
      margin-left: 9px;
      padding: 0 15px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: #f25d8e;
      color: white; }
      .nav-content ul:nth-child(2) li.tg > ul.tg-list, .nav-content ul:last-child li.tg > ul.tg-list {
        width: 360px;
        height: 64px;
        right: 0;
        background: #fff; }
        .nav-content ul:nth-child(2) li.tg > ul.tg-list li, .nav-content ul:last-child li.tg > ul.tg-list li {
          position: relative;
          cursor: pointer;
          text-align: center;
          width: 72px;
          height: 100%;
          float: left;
          position: relative;
          transition: .2s; }
          .nav-content ul:nth-child(2) li.tg > ul.tg-list li span, .nav-content ul:last-child li.tg > ul.tg-list li span {
            color: #f25d8e; }
          .nav-content ul:nth-child(2) li.tg > ul.tg-list li i, .nav-content ul:last-child li.tg > ul.tg-list li i {
            position: relative;
            display: block;
            transition: top .2s ease;
            width: 20px;
            height: 20px;
            margin: 15px auto 2px; }
          .nav-content ul:nth-child(2) li.tg > ul.tg-list li:hover i, .nav-content ul:last-child li.tg > ul.tg-list li:hover i {
            top: -2px; }
          .nav-content ul:nth-child(2) li.tg > ul.tg-list li:hover, .nav-content ul:last-child li.tg > ul.tg-list li:hover {
            background: #e5e9ef; }
    .nav-content ul:nth-child(2) li.p-img div.p_login, .nav-content ul:nth-child(2) li:nth-child(2) > div.history, .nav-content ul:nth-child(2) li.tg ul.tg-list, .nav-content ul:last-child li.p-img div.p_login, .nav-content ul:last-child li:nth-child(2) > div.history, .nav-content ul:last-child li.tg ul.tg-list {
      position: absolute;
      z-index: 20;
      opacity: 0;
      visibility: hidden;
      top: 55px;
      transition: visibility 0.4s ease,top 0.3s ease,opacity 0.3s linear; }
    .nav-content ul:nth-child(2) li.p-img:hover div.p_login, .nav-content ul:nth-child(2) li:nth-child(2):hover div.history, .nav-content ul:nth-child(2) li.tg:hover ul.tg-list, .nav-content ul:last-child li.p-img:hover div.p_login, .nav-content ul:last-child li:nth-child(2):hover div.history, .nav-content ul:last-child li.tg:hover ul.tg-list {
      visibility: visible;
      opacity: 1;
      top: 41px; }
  .nav-content > ul.isLogin {
    display: none; }
    .nav-content > ul.isLogin li.p-img {
      position: relative;
      width: 41px;
      height: 41px; }
      .nav-content > ul.isLogin li.p-img > a {
        transition: all 0.4s ease; }
        .nav-content > ul.isLogin li.p-img > a > img {
          transition: all 0.4s ease; }
      .nav-content > ul.isLogin li.p-img.on > a {
        position: absolute;
        z-index: 35;
        top: 15px;
        left: 0;
        margin-left: -11px; }
        .nav-content > ul.isLogin li.p-img.on > a > img {
          width: 64px;
          height: 64px;
          border: solid 2px #fff; }
      .nav-content > ul.isLogin li.p-img div.p_login {
        position: absolute;
        left: 50%;
        margin-left: -130px;
        width: 260px;
        background: #fff;
        padding: 50px 0 0;
        border-radius: 0 0 4px 4px; }
        .nav-content > ul.isLogin li.p-img div.p_login div.msg {
          text-align: center; }
          .nav-content > ul.isLogin li.p-img div.p_login div.msg > p.bl_user {
            font-weight: bold; }
          .nav-content > ul.isLogin li.p-img div.p_login div.msg > div.msg-list {
            overflow: hidden;
            padding: 20px; }
            .nav-content > ul.isLogin li.p-img div.p_login div.msg > div.msg-list > div {
              cursor: pointer; }
            .nav-content > ul.isLogin li.p-img div.p_login div.msg > div.msg-list i.bl-icon {
              display: inline-block;
              width: 18px;
              height: 18px;
              vertical-align: top;
              margin-top: -2px; }
            .nav-content > ul.isLogin li.p-img div.p_login div.msg > div.msg-list div.msg-item {
              float: left;
              margin-right: 20px; }
            .nav-content > ul.isLogin li.p-img div.p_login div.msg > div.msg-list div.msg-item-right {
              float: right;
              margin-left: 10px; }
        .nav-content > ul.isLogin li.p-img div.p_login div.fun {
          border-top: 1px solid #e5e9ef;
          padding: 10px 0px 0px 20px; }
          .nav-content > ul.isLogin li.p-img div.p_login div.fun > ul {
            display: block;
            overflow: hidden; }
            .nav-content > ul.isLogin li.p-img div.p_login div.fun > ul li {
              float: left;
              width: 100px;
              margin-right: 20px;
              padding: 5px 0; }
              .nav-content > ul.isLogin li.p-img div.p_login div.fun > ul li i.bl-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                vertical-align: top; }
              .nav-content > ul.isLogin li.p-img div.p_login div.fun > ul li > span {
                cursor: pointer; }
                .nav-content > ul.isLogin li.p-img div.p_login div.fun > ul li > span:hover {
                  color: #00A1D6; }
            .nav-content > ul.isLogin li.p-img div.p_login div.fun > ul > li:nth-child(2n) {
              margin-right: 0; }
        .nav-content > ul.isLogin li.p-img div.p_login div.signout {
          overflow: hidden; }
          .nav-content > ul.isLogin li.p-img div.p_login div.signout a {
            float: right;
            margin-right: 20px; }
